.pagination-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.page-stat{
    padding: 0 18px 0 18px;
}
.page-change{
    padding: 8px 24px 8px 24px;
    border-radius: 100px;
    background-color: #c2edf2;
    cursor: pointer;
    display: flex;
    align-items: center;

}
.page-change:hover{
    background-color: #98e0e9;
    color: #292929;
}
