.header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-name {
    margin: 0;
    padding: 20px;
    font-size: 32px;
    font-weight: 700;
    cursor: pointer;
    color: #151515;
}
.header-name:hover{
   color: #57696d;
}
