.loading-wrapper{
width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loading-row{
    width: 100%;
    color: #0c0c0c;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    align-items: center;
}
.loading-wrapper * .coin-row{
    cursor: default;
}

.placeHolder{
    display: inline-flex;
    min-height: 9px;
    background-color: #c2edf293;
    /*margin-right: 20px;*/
    border-radius: 100px;
}
.coin-rank .placeHolder{
    min-height: 17px;
}
.placeHolderRound{
    display: inline-flex;
    background-color: #c2edf293;
    border-radius: 50% 50%;
}
